# temporary outfile files
data/*_check_v2.tsv
data/*_check_v3.tsv

# log files
*.log

# Python cache
__pycache__/
*.pyc

# pipeline result files
results/*_length_check.tsv
results/*_status_count.tsv
results/*_read_summary.tsv
